*,*::before, *::after{
  margin:0;
  padding:0;
  box-sizing: border-box;

}

:root{

}

html{
  font-size: 62.5%;
}

body{
  background: url("../img/background__first-shot.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: grid;
  grid-template-rows: 25% 70% 5%;
}

.upper__screen{
  display:grid;
  grid-template-columns: 10% 80% 10%;
}

.title{
  font-size: 450%;
  margin: 3% auto;
}

.middle__screen{
  display:grid;
  grid-template-rows: 60% 20% 20%;
}

.beschrijving{
  margin: auto;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(1px);
  height:89%;
  width:70%;
}

.beschrijving__text{
  overflow-y: auto;
  max-height: 100%;
  font-size:1.9rem;
  text-align: center;
}

.startknop__wrapper{
  display:flex;
  align-items: flex-start;
  justify-content: center;
}

.start__spel{
  font-size: 2.7rem;
  height:5rem;
  width:15rem;
}

.bronnen__wrapper{
  display:flex;
  align-items: center;
  justify-content: center;
}

.bronnen{
  font-size: 2.7rem;
  height:5rem;
  width:15rem;
}
