*,*::before, *::after{
  margin:0;
  padding:0;
  box-sizing: border-box;

}

html{
  font-size: 62.5%;
}

body{
  background: url("../img/background__first-shot.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: grid;
  grid-template-rows: 25% 70% 5%;
  font-family: 'Roboto', sans-serif;
}

.upper__screen{
  display:grid;
  grid-template-columns: 10% 80% 10%;
}

.title{
  font-size: 450%;
  margin: 3% auto;
}

.middle__screen{
  display:grid;
  grid-template-rows: 60% 20% 20%;
}

.beschrijving{
  margin: auto;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(6px);
  height:89%;
  width:70%;
}

.beschrijving__text{
  overflow-y: auto;
  max-height: 100%;
  font-size:1.9rem;
  text-align: center;
}

.startknop__wrapper{
  display:flex;
  align-items: flex-start;
  justify-content: center;
}

.start__spel{
  font-size: 2.7rem;
  height:50%;
  width:25%;
}

.bronnen__wrapper{
  display:flex;
  align-items: center;
  justify-content: center;
}

.bronnen{
  font-size: 2.7rem;
  height:50%;
  width:25%;
}


@media only screen and (max-width: 1000px) and (max-width: 1100px) and (max-height: 600px) {
  .start__spel{
    height:75%;
  }
  .bronnen{
    height:75%;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1100px) and (min-height: 400px) {
  .beschrijving__text {
    font-size: 2.0rem;
  }
  .title{
    font-size: 650%;
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1200px) and (min-height: 500px) {
  .beschrijving__text {
    font-size: 2.5rem;
  }
  .title{
    font-size: 850%;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) and (min-height: 600px) {
  .beschrijving__text {
    font-size: 3rem;
  }
  .title{
    font-size: 1000%;
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) and (min-height: 700px){
  .beschrijving__text {
    font-size: 3.5rem;
  }
  .title{
    font-size: 1100%;
  }
}

@media only screen and (min-width: 1600px) and (min-height: 700px){
  .beschrijving__text {
    font-size: 4rem;
  }
  .title{
    font-size: 1300%;
  }
}