*,*::before, *::after{
  margin:0;
  padding:0;
  box-sizing: border-box;

}

:root{

}

html{
  font-size: 62.5%;
}

body{
  background: url("../img/background__first-shot.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: grid;
  grid-template-rows: 25% 70% 5%;
}

.upper__screen{
  display:grid;
  grid-template-columns: 10% 80% 10%;
}

.button__wrapper{
  width:5rem;
  height:5rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.sound__button{
  width: 5rem;
  height: 5rem;
  cursor: pointer;
}


/* EVERHYTHING FOR THE SOUND ICON VV */

.megaphone{
  height:1.5rem;
  width:1.5rem;
  background: black;
  position: relative;
  transform:translateX(20%);
}

.megaphone::after{
  content:"";
  font-size: 1.3rem;
  margin-left: 1rem;
  width: 0;
  height: 0;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-right:10px solid black;
}

.signal__icon {
  display:block;
  color: black;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border-top: solid 0.1rem currentColor;
  border-right: solid 0.1rem transparent;
  border-bottom: solid 0.1rem transparent;
  border-left: solid 0.1rem transparent;
  transform:translateX(360%) translateY(-150%)scale(1.6) rotate(90deg);
}

.signal__icon::before {
  content: '';
  position: absolute;
  left: -5px;
  top: -5px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border-top: solid 0.1rem currentColor;
  border-right: solid 0.1rem transparent;
  border-bottom: solid 0.1rem transparent;
  border-left: solid 0.1rem transparent;
}

.signal__icon::after {
  content: '';
  position: absolute;
  left: -9px;
  top: -9px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border-top: solid 0.1rem currentColor;
  border-right: solid 0.1rem transparent;
  border-bottom: solid 0.1rem transparent;
  border-left: solid 0.1rem transparent;
}

.x__mark{
  display:none;
  position:absolute;
  height:1.5rem;
  width:0.3rem;
  background: black;
  transform:translateX(1050%) translateY(-90%) rotate(45deg);
}

.x__mark::before{
  position:absolute;
  content:"";
  height:1.5rem;
  width:0.3rem;
  background: black;
  transform:translateX(-50%)rotate(90deg);
}


/* EVERHYTHING FOR THE SOUND ICON ^^ */
.title{
  font-size: 450%;
  margin: auto;
}

.middle__screen{
  display:grid;
  grid-template-rows: 60% 20% 20%;
}

.beschrijving{
  margin: auto;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(1px);
  height:89%;
  width:70%;
}

.beschrijving__text{
  overflow-y: auto;
  max-height: 100px;
  font-size:2rem;
  text-align: center;
}

.startknop__wrapper{
  display:flex;
  align-items: flex-start;
  justify-content: center;
}

.start__spel{
  font-size: 2.7rem;
  height:5rem;
  width:15rem;
}

.bronnen__wrapper{
  display:flex;
  align-items: center;
  justify-content: center;
}

.bronnen{
  font-size: 2.7rem;
  height:5rem;
  width:15rem;
}
