*,*::before, *::after{
  margin:0;
  padding:0;
  box-sizing: border-box;

}

:root{

}

html{
  font-size: 62.5%;
}

body{
  background-color: #5f7ab0;
  backdrop-filter: blur(4px);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

}


.mainbody{
  display:grid;
  grid-template-columns: 12.5% 25% 25% 25% 12.5%;
}


.numberpad{
  display: flex;
  flex-wrap:wrap;
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
}

.number__button{
  width:25%;
  height:20%;
  background:#3a5892;
}

.hints{
  background: rgba(255, 255, 255, 0.4);
  font-size: 2rem;
  overflow-y: auto !important;
}

.invulveld{
  display: flex;
  height:3.2rem;
  width:3.2rem;
  background: gray;
  margin: 1rem auto;
  justify-content: center;
  align-items: center;
}
