body {
    background-image: url("../img/NEWpuzzle2-1.png") !important;
    background-position: center !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-color: rgb(0, 0, 0);

}

.puzzle2_button_img {
    height: auto;
    width: 100%;
}

.puzzle2_button {
    position: relative;
    top: 13%;
    margin: auto;
    width: 60%;
    padding-bottom: 100%;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.puzzlebutton__wrapper {
    display: grid;
    grid-template: "bin-text bin-text bin-text bin-text bin-text bin-text"
                    "puzzle2_button puzzle2_button puzzle2_button puzzle2_button puzzle2_button puzzle2_button";
    top: 17%;
    position: absolute;
    left: 54%;
    z-index: 0;
    background-color: gray;
    height: 17ch;
}

.bin-text {
    font-size: 150%;
    text-align: center;
    margin-top: 10%;
}