*,*::before, *::after{
  margin:0;
  padding:0;
  box-sizing: border-box;

}


html{
  font-size: 62.5%;
}

body{
  background-color: #5f7ab0;
  backdrop-filter: blur(4px);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

}


.mainbody{
  display:grid;
  grid-template-columns: 12.5% 25% 25% 25% 12.5%;
}


.numberpad{
  display: flex;
  flex-wrap:wrap;
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
}

.number__button{
  width:25%;
  height:20%;
  background:#3a5892;
  font-size: 2rem;
}

.hints{
  background: rgba(255, 255, 255, 0.4);
  font-size: 2rem;
  overflow-y: auto !important;
}

.invulveld{
  display: flex;
  height:15%;
  width:30%;
  font-size:2rem;
  background: gray;
  margin: 1rem auto;
  justify-content: center;
  align-items: center;
}


@media only screen and (min-width:800px) {
  .hints{
    font-size: 1.9rem;
  }
}

@media only screen and (min-width:1000px) {
  .hints{
    font-size: 2.3rem;
  }
}

@media only screen and (min-width:1200px) {
  .hints{
    font-size: 2.8rem;
  }
}

@media only screen and (min-width:1300px) {
  .hints{
    font-size: 3.2rem;
  }
}

@media only screen and (min-width:1400px) {
  .hints{
    font-size: 3.4rem;
  }
}

@media only screen and (min-width:1800px) {
  .hints{
    font-size: 4rem;
  }
}

@media only screen and (min-width:2100px) {
  .hints{
    font-size: 4.8rem;
  }
}




@media only screen and (min-height:400px) {
  .numberpad{
    padding-top:1rem;
    padding-bottom:1rem;
  }
}

@media only screen and (min-height:500px) {
  .numberpad{
    padding-top:6rem;
    padding-bottom:6rem;
  }
}

@media only screen and (min-height:600px) {
  .numberpad{
    padding-top:12rem;
    padding-bottom:12rem;
  }
}

@media only screen and (min-height:700px) {
  .numberpad{
    padding-top:18rem;
    padding-bottom:18rem;
  }
}

@media only screen and (min-height:900px) {
  .numberpad{
    padding-top:24rem;
    padding-bottom:24rem;
  }
}

@media only screen and (min-height:1200px) {
  .numberpad{
    padding-top:30rem;
    padding-bottom:30rem;
  }
}

@media only screen and (min-height:1600px) {
  .numberpad{
    padding-top:35rem;
    padding-bottom:35rem;
  }
}

@media only screen and (min-height:1800px) {
  .numberpad{
    padding-top:40rem;
    padding-bottom:40rem;
  }
}