*,*::before, *::after{
  margin:0;
  padding:0;
  box-sizing: border-box;

}
html, body {
  margin: 0; 
  height: 100%; 
  overflow: hidden;
  }

html{
  font-size: 62.5%;
}

body::-webkit-scrollbar {
  display: none;
}

progress {
  border-radius: 5px;
  color: #1abc9c;
}

.hidden {
  display: none;
}

body{
  height: 100vh;
  display: grid;
  grid-template-rows: 90% 10%;
  font-family: 'Roboto', sans-serif;
}
/* 
.mainbody{
} */

.button__wrapper{
  width:5rem;
  height:5rem;
  position: absolute;
  cursor: pointer;
  top: 1rem;
  right: 1rem;
  background:rgb(47, 132, 230);
}

.megaphone{
  height:1.5rem;
  width:1.5rem;
  background: black;
  position: absolute;
  top:1.7rem;
  right:3rem;
}

.megaphone::after{
  content:"";
  font-size: 1.3rem;
  margin-left: 1rem;
  width: 0;
  height: 0;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-right:10px solid black;
}

.signal__icon {
  display:block;
  color: black;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border-top: solid 0.1rem currentColor;
  border-right: solid 0.1rem transparent;
  border-bottom: solid 0.1rem transparent;
  border-left: solid 0.1rem transparent;
  transform:scale(1.6) rotate(90deg);
  top: 2.1rem;
  right: 1.9rem;
}

.signal__icon::before {
  content: '';
  position: absolute;
  left: -5px;
  top: -5px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border-top: solid 0.1rem currentColor;
  border-right: solid 0.1rem transparent;
  border-bottom: solid 0.1rem transparent;
  border-left: solid 0.1rem transparent;
}

.signal__icon::after {
  content: '';
  position: absolute;
  left: -9px;
  top: -9px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border-top: solid 0.1rem currentColor;
  border-right: solid 0.1rem transparent;
  border-bottom: solid 0.1rem transparent;
  border-left: solid 0.1rem transparent;
}

.x__mark{
  display:none;
  position:absolute;
  height:1.5rem;
  width:0.3rem;
  background: black;
  transform:rotate(45deg);
  top: 1.8rem;
  right: 1.3rem;
}

.x__mark::before{
  position:absolute;
  content:"";
  height:1.5rem;
  width:0.3rem;
  background: black;
  transform:rotate(90deg);
}

.footer{
  text-align: center;
  display: grid;
  grid-template-rows: 15% 85%;
  grid-template-columns: 25% 50% 25%;
  background: lightgray;
  border-style: solid;
  border-width: 0.1rem;
  border-color: black;
  border-bottom: none;
}
.footer > progress {
  width: 100%;
  grid-column-start: 0;
  grid-column-end: span 3;
}

.timer{
  font-size: 3.5rem;
  font-family: 'Qahiri', sans-serif;
  margin: auto;
}

.title, .endtitle{
  height: 100%;
  text-align: center;
  font-size: 3rem;
  margin: auto auto;
  margin-top: 1%;
}

.bordertitle{
  border-style: solid;
  border-width: 0.1rem;
  border-color: black;
  border-top: none;
  border-bottom: none;
  height: 100%;
}

.skip__knop{
  font-size: 2rem;
  border:none;
  background: none;
}

.nameform {
  text-align: center;
  margin-top: 10%;
  margin-left: 25%;
  box-sizing: border-box;
  display: block;
  border: 2px solid black;
  padding: 20px;
  border-radius: 10px;
  width: 50%;
  font-size: 16px;
}

.naaminput {
  width: 70%;
  padding: 2rem;
  font-size: 2rem;
  border: 3px solid #555;
}

.submitName {
  margin-top: 20px;
  padding:10px;
  border: 2px solid gray;
  background-color:#ded0e1;
  font-family: inherit;
  font-size: inherit;
  border-radius:4px;
}

.hint-popup {
  z-index: 1;
  position: absolute;
  padding: 20px;
  background: rgba(255, 255, 255, 0.8);
  border: 5px outset rgb(75, 75, 255);
  width: 10%;
  top: 3%;
  left: 2%;
  font-size: 20px;
  text-align: center;
  border-radius: 20px;
}

.victorybox {
  position: absolute;
  margin: auto;
  text-align: center;
  border: 3px solid black;
  background-color: orange;
  padding: 30px;
  margin: 50px;
  font-size: 16px;
  position: absolute;
  margin-left: 50%;
  transform: translateX(-50%);
}

.hintbox {
  position: absolute;
  text-align: center;
  border: 3px outset blue;
  background-color: white;
  padding: 30px;
  margin: 50px;
  font-size: 16px;
  margin-left: 50%;
  transform: translateX(-50%);
  position: absolute;
  z-index: 1;
}

.hintbutton {
  margin-top: 20px;
  padding:10px;
  border: 2px solid gray;
  background-color:#ded0e1;
  font-family: inherit;
  font-size: inherit;
  border-radius:4px;
}

.beschrijving{
  margin: auto;
  position: absolute;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(6px);
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.beschrijving__text{
  overflow-y: auto;
  max-height: 100%;
  font-size:1.9rem;
  text-align: center;
}

@media only screen and (min-width: 1000px) {
  .beschrijving__text {
    font-size: 3rem;
  }
  .endtitle {
    font-size: 5rem;
  }
}
