body {
    background: url("../img/window_frame.png") !important;
}

.doorhandlebutton {
    padding: 15px;
    background: transparent;
    border: none;
    font-size:0;
    position: relative;
    left: 54%;
    top: 63%;
}